<img src="/images/cooking.jpg"></img>

<block alignItems="center" marginTop="8">
  <h1 intent="primary" underlined="true" italic="true">Recipe App</h1>
</block>

<block marginTop="8" marginBottom="8"></block>