<block flexDirection="row">
   <h1 margin="0" italic="true" intent="error">R</h1>
   <h1 margin="0" italic="true" intent="error">e</h1>
   <h1 margin="0" italic="true" intent="warning">c</h1>
   <h1 margin="0" italic="true" intent="warning">i</h1>
   <h1 margin="0" italic="true" intent="success">p</h1>
   <h1 margin="0" italic="true" intent="success">e</h1>
   <h1 margin="0" italic="true" intent="primary"> App</h1>
</block>