{{> header auth="true" }}

<grid cols="[2, 5]">
  <block>
    <h3>Welcome back!</h3>
    <p>
      <text>Enter your information to sign in, or </text>
      {{#> button_small }}
        <text>sign up here</text>
        <button.onClick>
          <navigate endpoint="/recipes/signup"></navigate>
        </button.onClick>
      {{/button_small}}
      <text>.</text>
    </p>
    <p>
      <text>By signing in, you agree to our </text>
      {{#> button_small }}terms of service{{/button_small}}
      <text> and </text>
      {{#> button_small }}privacy policy{{/button_small}}
      <text>.</text>
    </p>
  </block>
  <block>
    <block intent="{{#if error}}error{{else}}default{{/if}}" padding="4">
      {{> input_with_label name="signin__email" label="Email" type="email" placeholder="jane@email.com" }}
      {{> input_with_label name="signin__password" label="Password" type="password" marginTop="4" }}
      <block>

        {{!-- submit button --}}
        <button intent="{{#if error}}error{{else}}primary{{/if}}" marginTop="6">
          <text>Submit</text>
          <button.onClick>
            <request endpoint="/recipes/signin"></request>
          </button.onClick>
        </button>

        {{!-- forgot button --}}
        <block flexDirection="row" justifyContent="flex-end" marginTop="2">
          {{#> button_small }}
          <text muted="true" intent="primary">Forgot your password?</text>
          <button.onClick>
            <navigate endpoint="/recipes/forgot"></navigate>
          </button.onClick>
          {{/button_small}}
        </block>
      </block>
    </block>
    {{#if error}}
    <text marginTop="2" intent="error">{{error}}</text>
    {{/if}}
  </block>
</grid>

{{> footer}}