{{> header auth="true" }}

<grid cols="[2, 5]">
  <block>
    <h3>Signing up!</h3>
    <p>
      <text>Let's get you started! Please enter the following information to sign up.</text>
    </p>
    <p>
      <text>Already have an account? </text>
      {{#> button_small }}
        <text>sign in here</text>
        <button.onClick>
          <navigate endpoint="/recipes/signin"></navigate>
        </button.onClick>
      {{/button_small}}
      <text>.</text>
    </p>
    <p>
      <text>By signing in, you agree to our </text>
      {{#> button_small }}terms of service{{/button_small}}
      <text> and </text>
      {{#> button_small }}privacy policy{{/button_small}}
      <text>.</text>
    </p>
  </block>
  <block>
    <block intent="default" padding="4">
      <block flexDirection="row">
        {{> input_with_label label="First Name" placeholder="Jane" }}
        {{> input_with_label label="Last Name" placeholder="Doe" marginLeft="6" }}
      </block>
      {{> input_with_label label="Email" type="email" placeholder="jane@email.com" marginTop="4" }}
      {{> input_with_label label="Password" type="password" marginTop="4" }}
      <button intent="primary" marginTop="6">Sign Up</button>
    </block>
  </block>
</grid>

{{> footer}}