{{> auth_header}}

<grid cols="[2, 5]">
  <block>
    <h3 >Welcome back!</h3>
    <p>
      <text>Enter your information to sign in, or </text>
      {{#> small_button }}sign up here{{/small_button}}
      <text>.</text>
    </p>
    <p>
      <text>By signing in, you agree to our </text>
      {{#> small_button }}terms of service{{/small_button}}
      <text> and </text>
      {{#> small_button }}privacy policy{{/small_button}}
      <text>.</text>
    </p>
  </block>
  <block intent="default" padding="4">
    {{> input_with_label label="Email" type="email" placeholder="jane@email.com" }}
    {{> input_with_label label="Password" type="password" marginTop="4" }}
    <block>
      <button intent="primary" marginTop="6">Submit</button>
      <block flexDirection="row" justifyContent="flex-end" marginTop="2">
        {{#> small_button }}
          <text muted="true" intent="primary">Forgot your password?</text>
        {{/small_button}}
      </block>
    </block>
  </block>
</grid>

{{> footer}}